body {
    margin-top: 20px;
    min-height: 100%;
    background: hsl(197, 85%, 60%);
    /* Hide scrollbars */
    /* overflow: hidden; */
}

h2.ui.header {
    display: inline-flex;
    color: rgb(255, 238, 0);
}

h2.ui.header:hover {
    cursor: pointer;
}

.compact.segment {
    margin: 20px auto;
    color: #0b88b9;
    border: 2px solid #0b88b9;
}

input.icon.input {
    color: #0b88b9;
    border: 2px solid #0b88b9;
}

a {
    text-decoration: none;
    color: rgb(255, 238, 0);
}

a:hover {
    color: rgb(255, 238, 0);
}

footer {
    /* position: absolute; */
    bottom: 0;
    /* right: 5px; */
    height: 25px;
    color: rgb(255, 238, 0);
    font-size: larger;
    text-shadow: -0.5px 0 rgb(255, 238, 0), 0 0.5px rgb(255, 238, 0),
        0.5px 0 rgb(255, 238, 0), 0 -0.5px rgb(255, 238, 0);
    /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Glow(Color=rgb(255, 238, 0), Strength=1);
}